body {
  font-family: "Press Start 2P";
  margin: 0; /* Asegura que no haya margen predeterminado en el cuerpo */
}

header {
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  width: 100%; /* Agregué esto para ocupar todo el ancho de la pantalla */
}

.navbar {
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: row;
  border-bottom: solid 4px gray;  
  padding: 1% 0% 1% 2%;
  position: fixed;
  width: 100%;
  z-index: 1000;
}


@media only screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    padding: 2% 5%; 
  }

  
}
.presentacion{
  padding-top: 70px;
}

.layout {
  padding-top: 50px; 
  background-color: white;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
}



.nes-logo{
  z-index: 999; 
}


.titles a,
.titles h2,
.titles i {
  margin-bottom: 0px;
  display: inline-block; 
  padding-top: 10px;
  margin-top: 20px;
}

.titles{
  margin-bottom: 2%;
}
.tech-skills{
  margin-top: 2%;
}

.titles button a{
  color: aliceblue;
}

/* foooter */
footer {
  text-align: center; 
  padding: 20px; 
  background-color: #ffffff; 
  width: 100%;
  border-top: solid 4px gray; 
  margin-top: 2%;
}

.footer-end{
  padding-top: 1%;
}

.rodo{
  color: black;
}

.rodo:hover{
  color: rgb(207, 96, 44);
  text-decoration: none;
}

/*education*/
.edu-subtitle{
  font-size: large;
  color: rgb(41, 115, 226);
}

li {
  margin-bottom: 10px; 
}

.mailto{
  color: black;
}
.mailto:hover{
  color: rgb(207, 96, 44);
  text-decoration: none;
}

.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-group{
  margin-top: 5px;
  width: 600px;
}
.submit-button{
  margin-top: 5px;
}